<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

		<system.webServer>
			<rewrite>
				<rules>
					<rule name="Canonical Host Name" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTP_HOST}" pattern="^codetogether\.club$" />
						</conditions>
						<action type="Redirect" url="http://www.codetogether.club/{R:1}" redirectType="Permanent" />
					</rule>
					<rule name="replace query string" stopProcessing="true">
						<match url="^room(.*)" />
						<conditions>
							<add input="{QUERY_STRING}" pattern="chatroom=(.*)" />
						</conditions>
						<action type="Redirect" url="room/{C:1}" appendQueryString="false" logRewrittenUrl="true" />
					</rule>
				</rules>
				
			</rewrite>
		</system.webServer>

</configuration>
